body{
    height:auto;
    width:100%;
    font-family: roboto, sans-serif;
}

header{
    height:2cm;
    width:100%;
    background-color:#1F2937;
    margin-top:-8px;
    margin-left:-8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
}

div.links{
    text-decoration: none;
    list-style: none;
    color:#E5E7EB;
    gap:20px;
    margin-right:20px;
    cursor: pointer;
    font-size:18px;
    flex-direction: row;
    display: flex;
}

p#logo{
    color:#F9FAF8;
    font-size: 24px;
    width: fit-content;
    margin-left:20px;

}

div.div1{
    display: flex;
    background-color: #1F2937;
     margin-left:-8px;
     height:12cm;
     width:100%;
     color:#F9FAF8;
     display:flex;
     align-items:center;
     justify-content: space-evenly;
     flex-direction: row;
    
}

div.subsection1{
    overflow-wrap: break-word;
    margin-left: 100px;
     margin-right: 200px;
}

h1#hero{
    font-size: 48px;
    font-weight: 900;
}

div.subsection2{
        margin-right: 100px;
}

img#bk{
    height: 310px;
    width: 600px;
    object-fit: cover;
}

button#signbtn{
    height:40px;
    width:130px;
    background-color:#3882F6;
    border:none;
    color:#F9FAF8;
    border-radius:8px;
    cursor: pointer;
    font-size:16px;
}

div#div2{
height: 12cm;
width:100%;
}


h1#info{
    font-size:36px;
    font-weight:900;
    text-align: center;
     background-color:white;
    text-align:center;
    width:100%;

}

div.placeholders{
display: flex;
flex-direction: row;
gap:50px;
margin-top:30px;
justify-content: center;
margin-top:1.5cm;
height:auto;
overflow-wrap: break-word;
white-space: normal;
}
   
div.box{
    height:5cm;
    width:5cm;
    border:solid 2px #3882F6;
    border-radius:12px;
}

img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:12px;
}

div.textbox{
    display: flex;
    flex-direction: row;
    gap:50px;
    justify-content: center;
    margin-left:290px;
    margin-right:290px;
}

div#div3{
    background-color: #E5E7EB;
    margin-top:2cm;
    height: 10cm;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left:-10px;
}

i{
    margin-left:450px;
    margin-right:450px;
    font-size:32px;
    font-weight:9;
    height: auto;
}

div#div4{
    height:10cm;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.subdiv{
    height:5cm;
    width:70%;
    background-color:#3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius:12px;
}

div#text1{
    color:#F9FAF8;

}

h2#footxt{
    color: #fcfdff;
}

p#footxt{
    color:#fcfdff;
    
}

button#btn2{
    height:40px;
    width:130px;
    background-color: #3882F6;
    border:solid 2px #F9FAF8;
    color:#F9FAF8;
    border-radius:8px;
    cursor: pointer;
    font-size:16px;
}

footer{
    height:4cm;
    background-color:#1F2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content:space-around;
    padding-left:300px;
    padding-right:300px;
    color: #E5E7EB;
    margin-left:-10px;
    margin-bottom:-10px;
}
